[submodule "themes/hugo-clinic-notes"]
	path = themes/hugo-clinic-notes
	url = https://github.com/jmablog/hugo-clinic-notes.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
